body {
    color: rgb(130, 218, 240);
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(248, 16, 86);
    padding: 20px;
    font-size: 32px;
    color: rgb(248, 16, 86);
}

section {
    background: rgb(34, 3, 66);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}